.modelo {
	border:1px;
	border-color:gray;
	border-style:dotted;
	padding:0;
	margin:0;
	text-align:center;
	
}
#a {
	background-color:#FA8072;
	width:1024px;
	height:110px;
}
#b {
	background-color:lightgreen;
	width:150px;
	height:200px;
	float:right;
	position:fixed;
	left:882px;

}
#c {
	background-color:lightblue;
	width:874px;
	height:410px;
	
}
#d {
	background-color:lightyellow;
	width:150px;
	height:210px;
	float:right;
	position:absolute;
	top:320px;
	left:882px;
	
}
#e {
	background-color:lightgray;
	width:1024px;
	height:110px;

}